.text-white{
    color: white;
}

.text-green{
    color: rgb(73, 189, 150);
}

.text-red{
    color: red;
}

.bg-dark{
    background-color: black;
}

.text-bold{
    font-weight: bold;
}

.text-bolder{
    font-weight: bolder;
}