.header-sidebar{
    font-size: xs;    
}

.header-button{
    border-radius: 10px;
    padding: 16px 12px;
    border-color: #FFFFFFA6;
    color: #FFFFFFA6;
}

.home-card{
    margin:0px 48px;
    border: 5px solid #85abf4;
    background-color: #000000;
    padding: 48px;
}

.home-card-paragraph-1{
    color: #FFFFFF;
    font-size: 6vh;
}

.home-card-paragraph-2{
    color: #FFFFFFA6;
    font-size: 2vh;
}

.home-card-paragraph-text{
    color: #85abf4;
    font-size: 6vh;    
}

.paragraph-2{
    background: linear-gradient(-45deg, #eeaa52, #e73c6f, #2394d5, #2af3b7);
    font-size: 6vh;    
}

.coin-card{
    background-color: #2C2C2C;
}