.header-sidebar{
    font-size: xs;    
}

.header-button{
    border-radius: 10px;
    padding: 16px 12px;
    border-color: #FFFFFFA6;
    color: #FFFFFFA6;
}

.home-card{
    margin:0px 48px;
    border: 5px solid #85abf4;
    background-color: #000000;
    padding: 48px;
}

.home-card-paragraph-1{
    color: #FFFFFF;
    font-size: 6vh;
}

.home-card-paragraph-2{
    color: #FFFFFFA6;
    font-size: 2vh;
}

.home-card-paragraph-text{
    color: #85abf4;
    font-size: 6vh;    
}

.title-2{
    background: -webkit-linear-gradient(#eee, #85abf4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.coin-card{
    background-color: #2C2C2C80;
    padding: 0px;
    border: none;
    margin: 0px;
}

.coin-card:hover{
    background-color: #85abf480;
}

.cursor-pointer:hover{
    cursor: pointer;
    opacity: 0.8;

}

.text-center{
    text-align: center;
}


.counter-card{
    box-shadow: "5px 8px 24px 5px rgba(208, 216, 243, 0.6)" ;
    background-color: #2C2C2C80;
}

.counter-input-card{
    padding: 10px;
    width: 100px;
    height: 100px;
    background-color: #000000;
    border-radius: 20px;
    border: 2px solid #85abf4;
}


.border-none{
    border: none;
}


